/* ---------------------------------------main - Prototype */
.sectionPrototype{
    background-color: var(--bgPrototype);
}
section {
    padding: 30px;
}
section.Prototype{
    min-height: 200vh !important;
    color: var(--clrText1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 20px 10px var(--bgPrototype);
}

/* ---------------------------------------main - About */
.bg-space:has(section.About){
    background-color: rgb(199, 217, 231);
}

section.About{
    display: flex;
    height: var(--heightSection);
    align-items: center;
}

section.About .content-image{
    display: flex;
    align-items: center;
    gap: 20px;
    transform: rotate(90deg);
    
}

section.About .content-image *{
    width: 10rem;
    height: 25rem;
    object-fit: cover;
}

section.About .content-image *:nth-child(1){
    transform: translateY(20%);
}

section.About .content-image *:nth-child(3){
    transform: translateY(-20%);
}

section.About .content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20px;
    z-index: 8;
    max-height: 80%;
    padding: 3%;
    animation: flutuer 4s linear alternate infinite;
    box-shadow: 2px 0px 9px 0px #363636b8;
}
@keyframes flutuer {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2%);
    }
}

@media (max-width: 768px) {

    section.About {
        height: auto;
    }

    section.About .content-image {
        gap: 10px;
    }

    section.About .content-image * {
        width: 40%; 
        min-height: 80% !important; 
        max-width: 100%; 
        transform: none;
        display: none;
    }
}
