* {
    margin: 0%;
    padding: 0%;
}
body {
    height: 100%;
    background-color: rgb(33, 37, 41) !important;
}
.navbar {
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    box-shadow: 4px 4px 30px rgb(45, 45, 45);
}
.bottom_header {
    display: flex;
    height: 100%;
    margin-top: 3em;
}
.bottom_header img {
    width: 34%;
}
.presentation {
    padding: 30px;
    width: 100vw;
    background-color: white;
}
.presentation * {
    margin-bottom: 40px;
}
.presentation h1 {
    text-align: center;
}