
body {
  background-color: rgb(99, 99, 99);
  height: 350vh;
}

/* header {
  height: 110vh;
  background-color: rgb(189, 220, 247);
  display: grid;
  place-items: center;
} */
section {
  height: 100vh;
  background-color: white;
  display: flex;
  position: relative;
  z-index: 4;
}
/* body > *:not(header):nth-child(even) */
main *:nth-child(even) {
  flex-direction: row-reverse;
}
section > * {
  padding: 2rem;
}
section .s-content {
  background-color: blue;
  z-index: 5;
}
section .s-content p{
  font-size: 20px;
}
section .s-title {
  min-width: 35%;
  position: relative;
  height: fit-content;
  text-align: center;
}
section .s-title::before {
  content: "|";
  position: absolute;
  margin: -660px 0px 0px -60px;
  font-size: 60vh;
  z-index: 1;
}
section .s-title h1 {
  font-size: 2vw;
}
@keyframes descida {
  0% {
    position: sticky;
    top: 10%;
  }
  100% {
    top: 100%;
  }
}

@supports (animation-timeline: view(-160% 80%)) {
  section .s-title {
    animation-timeline: view(-160% 80%);
    animation-name: descida;
    animation-timing-function: ease-out;
    /* background-color: red; */
  }
}

@supports not (animation-timeline: view(-160% 80%)) {
  section .s-title {
    position: sticky;
    top: 10%;
    /* background-color: blue; */
  }
}
